<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blackjack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Blackjack.Properties.Settings>
            <setting name="GlobalActionDelayMilliseconds" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="GlobalActionDelayString" serializeAs="String">
                <value>00:00:0.4</value>
            </setting>
            <setting name="AnimationDelayMilliseconds" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AnimationDelayString" serializeAs="String">
                <value>00:00:0.2</value>
            </setting>
        </Blackjack.Properties.Settings>
    </applicationSettings>
</configuration>